*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    background:#d4d5d6;
}
/* NAVBAR start */
.container
{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    background: white;
    padding:15px 0px 15px 0px;
    justify-content:space-evenly;
}

.pict-logo{
    height:50px;
    margin-top: 10px;
    color:#1B1A55;
    font-weight: bolder;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.search-bar{
    margin-top: 20px;
    width: 45%;
    height: 2%;
    max-height: 100px;
    max-width: 600px;
    background-color:none;
    display : flex;
    align-items: center;
    border-radius: 50px;
    padding: 5px 10px;
 } 

 .search-bar input{
    background: #d4d5d6;
    flex: 1;
    width: 1;
    height: 0.5% ;
    max-height:1px;
    border-radius:60px ;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: black;
    border-color: none;
 }
 ::placeholder{
    color:grey;
 }
 .search-bar button img{
    width: 15px;
 }
 .search-bar button{
    margin-left: 5px;
    border:2px solid none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color:black;
    background:#d4d5d6;
    font-size: 25px;
    cursor: pointer;
 }
 .add-post{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:3 rem;
 }

 .btn{
    padding:15px;
    display: inline-block;
    cursor:pointer;
    border-radius: 20px;
    font-size: 2 rem;
    font-weight: 500;
    transition: 300ms ease all;
    cursor: pointer;
 }

 .btn:hover{
    opacity:0.68;
 }

 .btn-primary{
    background: #1B1A55;
    color:white;
 }

 .btn-danger{
    background: red;
    color:white
 }
 .profile_pic{  
    width: 70px;
    height: 70px;
    color:black;
    padding-left: 8px;
    padding-top: 2px;
 }

 .profile_pic:hover{
    opacity:0.75;
 }

 img{
    display:inline-block;
    width:100%;
 }
 
/* .link{
    text-decoration: none;
    color:black;
}

.link:visited{
    color:black;
 } */

/*.logo .menu-icon{
   color: #333;
   font-size:24px;
   margin-right: 14px;
   cursor: pointer;
   background-color: #87c8f4;
}*/
.logo .logo-name{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 50px;
   margin: 10px;
   color: white;
   font-style: bold;
   font-family: 'Times New Roman', Times, serif;
   font-size: 30px;
   font-weight: 700;
   background:#1B1A55;
   border-radius: 8px;
   border: 2px solid grey;
}

/* navbar end */


nav .sidebar{
   /* position: fixed; */
   display: inline-block;
   top:162px;
   /* height:100%; */
   width: 250px;
   margin-top: 20px;
   padding: 3px 0px 3px 0px;
   /* background-color: #ffffff; */
   box-shadow: 0 5px 10px rgba(0,0,0, 0.1);
   margin-left: 50px;
   background:white ;
   border-radius: 10px;
}
.sidebar .sidebar-content{
    background: #b3b9be;
   padding: 30px 16px;
   margin:10px;
   display: flex;
   flex-direction: column;
   gap: 10px;
   border-radius: 8px;
}
.sidebar-content .list{
   list-style: none;
   display: inline-block;
   /* display: flex; */
}
.list .nav-link{
   display: flex;
   height: 50px;
   width: 100%;
   gap:3 rem;
   justify-content: space-evenly;
   align-items: center;
   padding: 14px 12px;
   border-radius:8px ;
   /* background-color:rgb(231, 229, 229) ; */
   text-decoration: none;
   /* border:2px solid black; */
   color:#1B1A55;
}
.nav-link:hover{
   opacity: 0.8;
   text-decoration: underline;
}

#picto{
    margin-left: 45px;
}
#tedx{
    margin-left: 12px;
}
#csi{
    margin-left: 2px;
}

#artcircle{
    margin-left: 0.1px;
}
.nav-link .link{
   font-size: 16px;
   color:#1B1A55;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: 900;
   margin-left: 30px;
}


/* .card{
    align-items: center;
    justify-content: center;
    margin-left: 200px;
    
    margin-top: 100px;
    display: inline-block;
    height: 500;
    width: 800;
    padding-left: 700;
    padding-right: 200;
} */
/* .card-img-top{
    
}
 */


main{
    display: flex;
    flex-direction: row;
}


nav{
    display:inline-block;
    vertical-align: top;
    margin-right:60px;
 }

 .main_body .add-post{
    display: flex;
    max-width:90vh;
    justify-content:space-between;
    align-items: center;
    padding:10px;
    border-radius: 10px;
    background: white;
    margin:20px 0px 0px 35px;

 }

 .main_body .add-post input[type="text"]{
    justify-self: start;
    width:100%;
    padding-left: 10px;
    background: transparent;
    color: black;
    margin-right: 10px;
    border: none;
    outline:none;
 }
.main_body .add-post .profile-picture{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 5px 0px 0px 5px;
    margin: 0px 35px 0px 0px;
}
.main_body .post{
    height: max-content;
    width: 90vh;
    background:white;
    margin: 30px 30px 30px 40px;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.1);
    border-radius: 8px;
    padding-bottom: 15px;
    /* border: 2px solid grey; */
}
.main_body .post-nav{
    display: flex;
    flex-direction: row;
    color:#1B1A55;
    justify-content: space-between;
    align-items: center;
}
.post .edit .edit-menu{
    background: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    box-shadow: 0 0 .2rem grey;
     transform: scale(0);    /*usko pop up karne ke liye */
    transition: 300ms all ease; /*usko pop up karne ke liye */
    transform-origin: top-right;
}

/*usko pop up karne ke liye */
.edit:hover .edit-menu{
    transform: scale(1);
}

.edit .edit-menu li{
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 1 rem;
    color:grey;
    transition: 300mx ease all;
    cursor: pointer;
}
.post .edit img{
    width: 30px;
    justify-self: end;
    margin-right: 20px;
    cursor: pointer;
}

.edit .edit-menu li:hover{
    color:black;
}

.edit .edit-menu li:last-child:hover{
    color:red;
}


.main_body .post .write{
    margin: 30px 150px 30px 10px;
}


.main_body .post .logo{
    height: 70px;
    width:70px;
    background-image: url("pictoreal\ logo.png"); 
    background-size: cover;
    margin: 10px 60px 10px 10px;
}
.main_body .write{
    padding-left: 65px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main_body .write #club-id{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
}

.main_body .write #club-name{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-bottom: 5px;
}


.main_body .post .poster{
    height: 100px;
    width:100px;
    background-image: url("pictofest.jpg");
    background-size: cover;
    display: flex;
    flex-direction: row;
    height:22rem;
    width:25rem;
    align-items: center;
    justify-content: center;
    margin-left: 85px;
    border-radius: 10px;
}

.main_body .post .footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 20px;
    margin:30px;
    cursor: pointer;
    color:#1B1A55;
}

.title p{
    margin:15px;
    color:#1B1A55;
    font-weight: 550;
    text-align: center;
}
.right-side{
    display: flex;
    flex-direction: column;
}
.recomend{
    margin-top:30px;
    margin-left:62px;
    height:300px;
    width:45vh;
    padding: 20px 0;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.1);
    background: white;
    border-radius: 8px;
    display:flex;
    flex-direction: column;
    align-content: flex-start;

}

::-webkit-scrollbar{
    width:5px;
}
::-webkit-scrollbar-thumb{
    background:#1B1A55;
    border-radius: 10px;
}

.scrollbox{
    overflow: auto;
    
}

.scrollbox-inner{
    height:max-content;
}

.recomend .info{
    
    display: flex;
    flex-direction: row;
    gap:3 rem;
}
.recomend .name{
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    font-weight:bold;
    margin-left: 20px;
    margin-right: 20px;
    color:white;
    background: #1B1A55;
    border: 2px solid grey;
    border-radius: 30px;
    padding-left: 10px;
}

.recomend .lists2{
    margin:20px;
    height:200px;
    width:200px;
    border:2px solid transparent;
    padding:2px 1px 15px 1px;
    color:#1B1A55;
    font-weight: bold;

}
.lists2 .list2{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-evenly;
    padding:10px;
    cursor: pointer;
}

#button{
    cursor: pointer;
}

.list2:hover{
    border:2px solid black;
}
.boxshadow{
    box-shadow: 0 0 1rem grey;
}

.requests{
    margin-top:30px;
    margin-left:62px;
    height:300px;
    width:45vh;
    padding: 20px 0;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.1);
    background: white;
    border-radius: 8px;
    display:flex;
    flex-direction: column;
    align-content: flex-start;
}
.requests .name{
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    font-weight:bold;
    margin-left: 20px;
    margin-right: 20px;
    color:white;
    background: #1B1A55;
    border: 2px solid grey;
    border-radius: 30px;
    padding-left: 10px;
}

.requests .lists3{
    margin:20px;
    height:200px;
    /* width:max-content; */
    border:2px solid transparent;
    padding:2px 1px 15px 1px;
    color:#1B1A55;
    font-weight: bold;
    padding-bottom: 20px;

}
.requests .info{
    display: flex;
    flex-direction: row;
}
.requests.lists3 .list3{
    display: inline;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
    padding:5px;
    cursor: pointer;
    text-decoration: none;
}


