*{
    margin:0;
    padding:0;
    border:border-box;
}
body{
    background-color: #432818;
}
.navbar{
    margin-top: 20px ;
    height:200px;
    border-bottom:2px solid #432818;
    background-color:#ffe6a7;
    display: flex;
    flex-direction: row;
}

.navbar1{
    height: 200px;
    width:680px;
    
    display:flex;
    flex-direction: row;
}

#profilepic{
    height:50px;
    width:50px;
    border:2px solid black;
    border-radius:50%;
    padding: 50px;
    margin:20px 20px 20px 40px;
    background-image: url("profilepic1.png");
    background-size: cover;

}

#details{
    height:200px;
    font-size: 20px;
    padding:1px 2px 10px 4px;
    margin-left:60px;
    line-height: 50px;
    color:#432818;
}

#info{
    height:200px;
    font-size: 20px;
    padding:1px 2px 10px 4px;
    margin-left:40px;
    line-height: 50px;
    color:#432818;
}
main{
    height:fit-content;
    background-color:#432818;
}

.actual_body{
    height:500px;
    display:flex;
    flex-direction: row;
}
.navbar2{
    height: 200px;
    width:620px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    cursor: pointer;
}


#friends{
    color:#432818;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    text-align: center;
}

#list{
    list-style: none;
    line-height: 25px;
    padding-right: 10px;
    font-weight: 800;
    color: #432818;
}




.bio{
    padding-left:25px;
    padding-right: 25px;
    width:500px;
    border-right:5px solid #432818;
    padding-top: 10px;
    color:#ffe6a7;
}

#a{
    
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height:500px;
    width:500px;
}

.posts{
    padding-left:25px;
    width:800px;
    color:#ffe6a7;
    
}

#personal_details{
    h1{
        text-align: center;
    }
    font-size: 20px; 
    line-height: 50px;
}

#pic{
    padding-top: 10px;
    h1{
        text-align: center;
        font-family:'Times New Roman', Times, serif;
    }
    
}

#img{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    padding:20px 20px 20px 0px;
}

#img1{
    margin:1px;
    height:180px;
    width:180px;
    background-image: url("nature1.jpg");
    background-size: cover;
}

#img2{
    margin:1px;
    height:180px;
    width:180px;
    background-image: url("nature2.jpg");
    background-size: cover;
}

#img3{
    margin:1px;
    height:180px;
    width:180px;
    background-image: url("nature3.jpg");
    background-size: cover;
}

#img4{
    margin:1px;
    height:180px;
    width:180px;
    background-image: url("nature4.jpg");
    background-size: cover;
}

#img5{
    margin:1px;
    height:180px;
    width:180px;
    background-image: url("nature5.jpg");
    background-size: cover;
}

#img6{
    margin:1px;
    height:180px;
    width:180px;
    background-image: url("nature6.jpg");
    background-size: cover;
}


#foot{
    background-color:#ffe6a7;
    height:50px;
    border-top:3px solid #432818;
    padding-top: 10px;
    text-align: center;
}
.button{
    border: none;
    background-color:#432818;
    color:white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    cursor: pointer;
}